/* google fonts link here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
/* css code start here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body::before {
  content: "get pro";
  width: 55px;
  background: #F7941D;
  display: block;
  left: 95%;
  top: 200px;
  padding: 13px 20px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  position: fixed;
  font-weight: 400;
}

/* top bar style start here */

.top-bar {
    padding: 0px 10%;
    border-bottom: 1px solid #d1c9c959;
}
.top-box-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.top-box-wrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-box span:first-child {
    border-right: 1px solid rgb(224, 222, 222);
    padding-right: 15px;
    margin-right: 15px;
}
.contact-box span i{
    color: #F7941D;
    padding-right: 5px;
}
.list-main li a i{
    color: #F7941D;
    padding-right: 5px;
}
.list-main li a{
    text-decoration: none;
    color:  #333333;
    font-size: 13px;
    transition: .5s;
}
.list-main li a:hover{
    color: #F7941D;
}
.list-main li {
    border-right: 1px solid rgb(224, 222, 222);
}
.list-main li {
    margin-right: 15px;
    list-style: none;
    padding-right: 15px;
}
.list-main li:last-child {
    border-right: none;
}

/* center bar style start here */

.center-bar {
    padding: 30px 10%;
}
.center-items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-box {
    margin-right: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    position: relative;
}
.icon-box::before {
  content: "2";
  width: 18px;
  height: 18px;
  background: #F7941D;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 132px;
  top: -6px;
  color: #FFFFFF;
}
.icon-box i{
    transition: .5s;
}
.icon-box i:hover{
    color: #F7941D;
}
#cars {
    padding: 15px 32px;
    font-size: 14px;
    background: none;
    border: 1px solid #eee;
    border-radius: 5px 0px 0px 5px;
}
#cars .option:hover{
    background: #F7941D;
}
.category-and-search input {
    padding: 15px 20px;
    margin-left: -5px;
    width: 300px;
    border: 1px solid #eee;
}
.category-and-search button {
    padding: 15px 20px;
    margin-left: -5px;
    background: #333333;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
    border: none;
    transition: .5s;
}
.category-and-search button:hover{
    background: #F7941D;
}

/* ------------nav main menu style here------------- */


.navigation-bar {
    padding: 0px 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #333333;
  }
  .categorics {
    background: #F7941D;
    position: relative;
    width: 250px;
  }
  
.categorics-menu {
  position: absolute;
  background: #FFFFFF;
  width: 100%;
  margin-top: 1px;
}
.categorics-menu li {
  border-bottom: 1px solid #F7F7F7;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categorics-menu li a:hover{
  color: #F7941D;
}
.categorics-menu li:hover i{
  color: #F7941D;
}
.categorics-menu li  a {
  font-size: 14px;
  color: #424646;
  font-weight: 400;
  text-decoration: none;
  transition: .5s;
  width: 100%;
  padding: 17px;
  text-transform: capitalize;
}
.categorics-menu li i {
  color: #424646;
  font-size: 12px;
  margin-right: 15px;
}
.more-menu {
  top: -2px;
  left: 99%;
  border-left: 3px solid #F7941D;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}
.new-arrivals-more-menu:hover .more-menu {
  opacity: 1;
  visibility: visible;
}
  .nav-main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-left: 10px;
    gap: 5px;
  }
  .nav-main-menu li a {
    text-decoration: none;
    padding: 23px 24px 22px 24px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    transition: .5s;
  }
  .nav-main-menu li a:hover{
    background: #F7941D;
  }
  .categorics p {
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
  }
  .active {
    background: #F7941D;
  }
  .new-arrivals-more-menu {
    position: relative;
  }

/* ------------best selling product box style here------------- */

  .more-menu2 {
    display: flex;
    width: 800px;
    justify-content: start;
    align-items: center;
  }

.best-selling-product-box {
  padding: 20px;
  width: 245px;
}
  .best-selling-product-box a {
    color: #424646;
    font-size: 14px;
    font-weight: 400;
  }
  .shop-kids-btn {
    padding: 9px 19px;
    margin: 20px 0px;
    border: none;
    background: #EF8F1C;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
    transition: .5s;
  }
  .shop-kids-btn:hover{
    background: #333333;
  }
  .best-selling-product-box a {
    margin-left: -17px;
  }
  .more-menu2 img {
    padding-bottom: 10px;
    transition: .5s;
  }
  .best-product-img{
    width: 110%;
    overflow: hidden;
    height: 155px;
    margin-bottom: 15px;
}
  .best-product-img img:hover{
    transform: scale(1.1);
  }

  /* ---------------dropdown menu style here----------- */

  .nav-main-menu li:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
.dropdown-menu {
    margin-top: 23px;
    position: absolute;
    width: 200px;
    height: 114px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px #333;
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: .5s;
  }
  .dropdown-menu li {
    padding: 10px;
    list-style: none;
    transition: .5s;
  }
  .dropdown-menu li a {
    padding: 0;
    color: #333;
  }
  .dr-blog {
    height: 60px;
    width: 250px;
    background: #F7F7F7;
  }
  .dropdown-menu li:hover {
    background: #F7941D;
  }
  /* -------------after & before------------ */

  
.active2:before {
    content: "new";
    position: absolute;
    background: #F7941D;
    padding: 3px 9px;
    top: 2px;
    font-size: 10px;
    text-transform: uppercase;
    left: 30px;
    z-index: 5;
  }
  .active2 {
    position: relative;
  }
  .active2:after {
    content: "";
    background: #F7941D;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: rotate(222deg);
    top: 13px;
    right: 56px;
    z-index: 1;
  }

  /* ----------------banner section style start here------------- */

  
.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 0px;
  background: url(image/slider-image2.jpg);
  background-position: center;
}
.banner-section-wrapper {
  width: 590px;
}
.banner-section-wrapper h3 {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
}
.banner-section-wrapper h1 {
  color: #F7941D;
  font-size: 47px;
  padding: 20px 0px;
  font-weight: 700;
}
.banner-section-wrapper p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  width: 300px;
  line-height: 25px;
  margin-bottom: 20px;
}
.shop-now-btn {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  text-transform: uppercase;
  background: #333333;
  border: none;
  transition: .5s;
}
.shop-now-btn:hover{
  background: #F7941D;
}

/* ------------------------add banner section style here------------------ */


.add-banner-section {
  padding: 30px 25px;
}
.add-banner-single-box-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.add-banner-single-box {
  padding: 98px 30px;
  width: 500px;
  height: 290px;
  background: url(image/mini-banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.for-background1{
  background: url(image/mini-banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.for-background2{
  background: url(image/mini-banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.add-banner-single-box h3 {
  font-size: 22px;
  margin: 10px 0px;
  color: #333333;
  font-weight: 800;
}
.discount{
  font-size: 22px !important;
  font-weight: 800 !important;
}
.add-banner-single-box span{
  color: #F7941D;
  font-size: 14px;
  font-weight: 500;
}
.add-banner-btn {
  background: none;
  border: none;
  font-size: 12px;
  border-bottom: 2px solid #333;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  color: #333;
}
.add-banner-btn:hover{
  color: #F7941D;
  border-bottom: 2px solid #F7941D;
}

/* -------------------------trending items section style here------------------------ */


.trending-items-section {
  padding: 5% 15%;
}
.trending-items-wrapper {
  width: 100%;
  text-align: center;
}
.trending-items-wrapper h2 {
  color: #2C2D3F;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}
.trending-items-wrapper h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #F7941D;
  display: block;
  margin: 10px auto;
}
.trending-items-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}
.trending-items-menu-wrapper li{
  list-style: none;
}
.trending-items-menu-wrapper a {
  text-decoration: none;
  padding: 10px;
  color: #2C2D3F;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  transition: .5s;
}
.trending-items-menu-wrapper a:hover {
  background: #F7941D;
  color: #FFFFFF;
}
.active43 > a{
  background: #F7941D;
  color:#F7F7F7;
}

/* -----------------------trending product box style here------------------------- */


.trending-product-box-wrapper {
  width:100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  gap: 20px;
}
.trending-single-product {
  width: 250px;
  overflow: hidden;
  margin: 0px 0px 30px 0px;
}
.product-img-box {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-img-box img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: .5s;
}
.product-img-box img:hover{
  transform: scale(1.2);
}
.t-product-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  position: absolute;
  transform: scaleY(0);
  transform-origin: bottom;
  bottom: -50;
  transition: .5s;
  background: white;
}

.trending-product-img-and-icon-wrapper {
  position: relative;
  overflow: hidden;
}
.trending-product-img-and-icon-wrapper:hover .t-product-icon-wrapper{
  transform: scaleY(1);
  bottom: 0;
  
}
.trending-single-product p {
  text-align: left;
  line-height: 30px;
  margin-top: 10px;
  color: #333333;
}
.trending-single-product p span{
  transition: .5s;
}
.trending-single-product p span:hover{
  color: #F7941D;
}
.t-p-main-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #333333;
}


.after-content::before {
  content: "NEW";
  width: 50px;
  background: #8f8f8a;
  height: 10px;
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 68%;
  top: 20px;
  color: white;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 17px;
}
.after-content2::before {
  content: "30% OFF";
  width: 50px;
  background: #F7941D;
  height: 10px;
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 68%;
  top: 20px;
  color: white;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 17px;
}
.after-content3::before {
  content: "HOT";
  width: 50px;
  background: #dc3545;
  height: 10px;
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 68%;
  top: 20px;
  color: white;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 17px;
}

/* ---------------------free lite versoin section style here---------------------- */


.free-lite-version-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  background: #F7941D;
}
.fl-version-wrapper {
  text-align: center;
}
.fl-version-wrapper p {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin: 10px auto;
  line-height: 24px;
}
.fl-version-wrapper h2 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
}

.purchase-btn {
  padding: 17px 30px;
  margin-top: 20px;
  border: none;
  background: #FFFFFF;
}
.purchase-btn a {
  color: #333333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.fl-version-wrapper h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #FFFFFF;
  margin: 10px auto;
  display: block;

}

/* ------------------------on sale best selle top viewed section style here------------------------ */


.sale-best-seller-top-viewed-section {
  padding: 5% 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sale-best-seller-top-viewed-box-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-wrapper h1 {
  color: #2C2D3F;
  font-size: 22px;
  font-weight: 700;
  padding: 20px 0;
  text-transform: capitalize;
}
.header-wrapper h1::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #F7941D;
  display: block;
  margin-top: 10px;
}
.ssv-single-box {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #00000014;
}
.ssv-img-wrapper {
  width: 50%;
  height: 179px;
  /*! overflow: hidden; */
  position: relative;
}
.ssv-img-wrapper img {
  width: 100%;
  height: 100%;
}
.img-hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9F9FA266;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.img-hover-effect:hover{
  opacity: 1;
}
.img-hover-effect:hover i{
  transform: scale(1);
}
.ssv-text-wrapper h4 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  padding: 10px 0px;
  transition: .5s;
}
.ssv-text-wrapper h4:hover{
  color: #F7941D;
}
.ssv-text-wrapper p {
  width: 50px;
  background: #F7941D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
}
.img-hover-effect i {
  padding: 16px;
  background: #F87617;
  border-radius: 50%;
  color: white;
  transform: scale(0);
  transition: .5s;
}

/* ------------------------from our blog section style here----------------------- */


.from-our-blog-section {
  text-align: center;
  margin-top: 50px;
  padding: 0px 12%;
}
.from-our-blog-section h1 {
  padding: 25px;
  color: #2C2D3F;
  font-size: 30px;
  font-weight: 700;
}
.from-our-blog-section h1::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #F7941D;
  display: block;
  margin: 10px auto;
}
.from-our-blog-single-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.from-blog-single-box {
  width: 364px;
  margin-bottom: 100px;
}
.from-blog-single-box:hover .our-blog-text{
  box-shadow: 0px 10px 15px aliceblue;
}
.our-blog-img {
  width: 100%;
  overflow: hidden;
  height: 300px;
}
.our-blog-img img {
  width: 100%;
  height: 100%;
}
.our-blog-text {
  padding: 20px 0px 40px 0px;
  text-align: center;
}
.our-blog-text p {
  color: #B7B7B7;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
.our-blog-text a {
  text-decoration: none;
  color: #424646;
  font-size: 14px;
  font-weight: 400;
  transition: .5s;
  line-height: 40px;
}
.our-blog-text a:hover {
  color: #F7941D !important;
}
.blog-text-headline {
  font-size: 19px !important;
  font-weight: 600 !important;
  margin: 20px !important;
  color: #333 !important;
  transition: .5s !important;
}
.blog-text-headline:hover{
  color: #F7941D;
}

/* -------------------------------our shop service section style start here-------------------- */


.our-shop-service-section {
  padding: 50px 13%;
  background: #F6F7FB;
}
.shop-service-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-service-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.service-icon {
  padding: 10px;
}
.service-icon i {
  font-size: 32px;
  color: #333333;
}
.service-text h4 {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.service-text p {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
}

/* ---------------------------------news letter section style start here------------------------ */


.news-letter-section {
  text-align: center;
  padding: 100px;
}
.news-letter-section h4 {
  font-size: 17px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
}
.news-letter-section p {
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  color: #777777;
}
.news-letter-search-box {
  margin: 20px auto;
  width: 600px;
  position: relative;
}
.news-letter-search-box input {
  width: 420px;
  padding: 18px 30px;
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 400;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid #00000024;
}
.news-subscribe-btn {
  padding: 19px 32px;
  text-transform: uppercase;
  margin-left: -4px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  background: #F7941D;
  border: none;
  border-radius: 0px 40px 40px 0px;
  transition: .5s;
}
.news-subscribe-btn:hover {
  background: #222222;
}
.news-letter-section p span {
  color: #F7941D;
}

/* -------------------------footer section style start here------------------------ */


.footer-section {
  padding: 80px 10% 10px 10%;
  background: #222;
}
.footer-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
  padding-bottom: 90px;
  border-bottom: 1px solid #8c868657;
}

.footer-box {
  width: 460px;
}
.footer-box img {
  padding-bottom: 30px;
}
.footer-box p {
  width: 411px;
  color: #FFF;
  padding-bottom: 10px;
}
.footer-box span {
  font-size: 20px;
  color: #F7941D;
  font-weight: 600;
}



.footer-box-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.for-margin {
  margin-bottom: 30px;
}
.footer-list-box {
  list-style-type: none;
  width: 240px;
}
.footer-list-box h4 {
  font-size: 17px;
  font-weight: 600;
  padding: 0px 0px 20px 0px;
  color: #FFFFFF;
  margin-top: 10px;
}
.footer-list-box li {
  margin: 15px 0px;
  color: #FFFFFF;
}
.footer-list-box li:hover a {
  padding-left: 10px;
  color: #F7941D;
}
.footer-list-box li a {
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
  color: #FFFFFF;
}
.footer-icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 132px;
}
.footer-icon-wrapper i:hover {
  color: #F7941D;
}
.footer-icon-wrapper i {
  transition: .5s;
  color: #FFFFFF;
  cursor: pointer;
}

/* -----------------------copy write box style here--------------------- */
.copy-write-box {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 10px 0px;
}
.copy-write-box p {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}
.copy-write-box p a{
  color: #FFFFFF;
}